```yaml
name: CI Builds (Windows Manual)

on:
  # Manual trigger only
  workflow_dispatch:

permissions:
  packages: write
  contents: write

jobs:
  ci-windows:
    runs-on: windows-2022

    env:
      USERNAME: TrenchBroom
      VCPKG_EXE: ${{ github.workspace }}\\vcpkg\\vcpkg
      FEED_URL: https://nuget.pkg.github.com/TrenchBroom/index.json
      VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/TrenchBroom/index.json,readwrite"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.9.*'

      - name: Bootstrap vcpkg
        shell: pwsh
        run: ${{ github.workspace }}\\vcpkg\\bootstrap-vcpkg.bat

      - name: Install dependencies
        shell: pwsh
        run: |
          Invoke-WebRequest 'https://github.com/jgm/pandoc/releases/download/2.11.3.1/pandoc-2.11.3.1-windows-x86_64.zip' -OutFile 'pandoc.zip'
          if ("668A62A8990DEB2753753DF0C8D3F1BE567026FE" -ne (Get-FileHash -Path 'pandoc.zip' -Algorithm SHA1).Hash) { exit 1 }
          7z x pandoc.zip -o'.'
          $tb_pandoc_path = "$(pwd)\\pandoc-2.11.3.1"
          echo "$tb_pandoc_path" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Add NuGet sources
        shell: pwsh
        run: |
          .$(${{ env.VCPKG_EXE }} fetch nuget) `
            sources add `
            -Source "${{ env.FEED_URL }}" `
            -StorePasswordInClearText `
            -Name GitHubPackages `
            -UserName "${{ env.USERNAME }}" `
            -Password "${{ secrets.GITHUB_TOKEN }}"
          .$(${{ env.VCPKG_EXE }} fetch nuget) `
            setapikey "${{ secrets.GITHUB_TOKEN }}" `
            -Source "${{ env.FEED_URL }}"

      - name: Build
        run: cmd.exe /c CI-windows.bat

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-2022
          path: |
            cmakebuild/*.zip
            cmakebuild/*.zip.md5

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            cmakebuild/*.zip
            cmakebuild/*.zip.md5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
```
